<div class="container">

    <div class="card mt-4" *ngFor="let blog of blogs">
        <div class="card-body d-flex">
            <div class="left col-6">
                <h5 class="card-title">{{ blog.topic }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Posted by: {{ blog.postedBy }}</h6>
                <p class="card-text">{{ blog.message }}</p>
            </div>
            <div class="right col-6">
                <p>{{ blog.date }}</p>
                
                <div class="btn-group" role="group" aria-label="Basic mixed styles example" *ngIf="blog.canChange">
                    <button type="button" class="btn btn-warning" (click)="editPost(blog)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deletePost(blog)">Delete</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div *ngIf="editStatus" class="ay d-flex align-items-center justify-content-center ">
    <!-- Vertically centered modal -->
    <div class="container col-6">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="changeEditStatus()"></button>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" [(ngModel)]="editTitle">
        </div>

        <div class="mb-3">
            <label for=" exampleFormControlTextarea1" class="form-label">Textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                [(ngModel)]="editText"></textarea>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="changeEditStatus()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!editText || !editTitle"
                    (click)="savePost()">Save
                    changes</button>
            </div>
        </div>

    </div>




    <!-- Vertically centered scrollable modal -->

    <!-- <label for=" exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
</div>